In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\Advance_Pandas\student_results.csv")

In [3]:
df

   Student_ID   Name  Marks Branch Result
0         101   Amit     78    CSE   Pass
1         102   Riya     85    CSE   Pass
2         103  Sohan     62    ECE   Pass
3         104   Neha     90    CSE   Pass
4         105  Karan     55     ME   Fail

In [4]:
#Average Marks of All Students
df["Marks"].mean()

np.float64(74.0)

In [5]:
#Average Marks Per Branch
df.groupby("Branch")["Marks"].mean()

Branch
CSE    84.333333
ECE    62.000000
ME     55.000000
Name: Marks, dtype: float64

In [6]:
# Count of Students Per Branch
df["Branch"].value_counts()

Branch
CSE    3
ECE    1
ME     1
Name: count, dtype: int64