In [1]:
import pandas as pd

In [2]:
coffee = pd.read_csv(r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\dataset\coffee.csv")

In [5]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

## Adding or Removing columns

In [8]:
coffee["price"] = 4.99

In [9]:
coffee.head()

         Day Coffee Type  Units Sold  price
0     Monday    Espresso          25   4.99
1     Monday       Latte          15   4.99
2    Tuesday    Espresso          30   4.99
3    Tuesday       Latte          20   4.99
4  Wednesday    Espresso          35   4.99

In [11]:
import numpy as np

coffee["new_price"] = np.where(coffee["Coffee Type"] == "Espresso", 3.99, 5.99)
coffee

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       3.99
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99

## üìå Conditional Column Creation using `np.where`

### üîπ Purpose

Create or update a DataFrame column **based on a condition**, without using loops.

---

### üîπ Syntax

```python
np.where(condition, value_if_true, value_if_false)
```

---

### üîπ Example

```python
import numpy as np

coffee["new_price"] = np.where(
    coffee["Coffee Type"] == "Espresso",
    3.99,
    5.99
)
```

---

### üîπ How it Works

1. `coffee["Coffee Type"] == "Espresso"`
   ‚Üí Generates a Boolean Series (`True` / `False`) for each row.

2. `np.where(...)`
   ‚Üí Assigns:

   * `3.99` where condition is `True`
   * `5.99` where condition is `False`

3. Result is a **vectorized NumPy array** assigned to a new column.

---

### üîπ Output Illustration

| Coffee Type | new_price |
| ----------- | --------- |
| Espresso    | 3.99      |
| Latte       | 5.99      |
| Mocha       | 5.99      |

---

### üîπ Why Use `np.where`?

* ‚úÖ Fast (vectorized operation)
* ‚úÖ No loops
* ‚úÖ Scales well for large datasets
* ‚úÖ Cleaner than `.apply()` for simple conditions

---

### üîπ Common Use Cases

* Conditional pricing
* Label encoding
* Feature engineering
* Binary classification flags

---

### üîπ Notes ‚ö†Ô∏è

* Works best for **simple IF‚ÄìELSE logic**
* For multiple conditions, use:

```python
np.select()
```

---

### üîπ One-line Insight

> **`np.where()` is the Pandas equivalent of Excel‚Äôs `IF()` function ‚Äî but column-wise.**

---

If you want:

* üîÅ **multiple conditions**
* üß† **real ML feature-engineering examples**
* üìä **comparison with `map`, `apply`, `loc`**

Say the word.