In [55]:
import pandas as pd

In [56]:
coffee = pd.read_csv(r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\dataset\coffee.csv")

In [57]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

## Adding or Removing columns

In [58]:
coffee_new = coffee
coffee_new["price"] = 4.99

In [59]:
coffee_new.head()

         Day Coffee Type  Units Sold  price
0     Monday    Espresso          25   4.99
1     Monday       Latte          15   4.99
2    Tuesday    Espresso          30   4.99
3    Tuesday       Latte          20   4.99
4  Wednesday    Espresso          35   4.99

In [60]:
import numpy as np

coffee_new["new_price"] = np.where(coffee_new["Coffee Type"] == "Espresso", 3.99, 5.99)
coffee_new

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       3.99
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99

In [61]:
coffee_new.head()

         Day Coffee Type  Units Sold  price  new_price
0     Monday    Espresso          25   4.99       3.99
1     Monday       Latte          15   4.99       5.99
2    Tuesday    Espresso          30   4.99       3.99
3    Tuesday       Latte          20   4.99       5.99
4  Wednesday    Espresso          35   4.99       3.99

## ðŸ“Œ Conditional Column Creation using `np.where`

### ðŸ”¹ Purpose

Create or update a DataFrame column **based on a condition**, without using loops.

---

### ðŸ”¹ Syntax

```python
np.where(condition, value_if_true, value_if_false)
```

---

### ðŸ”¹ Example

```python
import numpy as np

coffee["new_price"] = np.where(
    coffee["Coffee Type"] == "Espresso",
    3.99,
    5.99
)
```

---

### ðŸ”¹ How it Works

1. `coffee["Coffee Type"] == "Espresso"`
   â†’ Generates a Boolean Series (`True` / `False`) for each row.

2. `np.where(...)`
   â†’ Assigns:

   * `3.99` where condition is `True`
   * `5.99` where condition is `False`

3. Result is a **vectorized NumPy array** assigned to a new column.

---

### ðŸ”¹ Output Illustration

| Coffee Type | new_price |
| ----------- | --------- |
| Espresso    | 3.99      |
| Latte       | 5.99      |
| Mocha       | 5.99      |

---

### ðŸ”¹ Why Use `np.where`?

* âœ… Fast (vectorized operation)
* âœ… No loops
* âœ… Scales well for large datasets
* âœ… Cleaner than `.apply()` for simple conditions

---

### ðŸ”¹ Common Use Cases

* Conditional pricing
* Label encoding
* Feature engineering
* Binary classification flags

---

### ðŸ”¹ Notes âš ï¸

* Works best for **simple IFâ€“ELSE logic**
* For multiple conditions, use:

```python
np.select()
```

---

### ðŸ”¹ One-line Insight

> **`np.where()` is the Pandas equivalent of Excelâ€™s `IF()` function â€” but column-wise.**

---

## Removing column

In [62]:
coffee_new = coffee_new.drop(columns=["price"])

In [63]:
coffee.head()

         Day Coffee Type  Units Sold  price  new_price
0     Monday    Espresso          25   4.99       3.99
1     Monday       Latte          15   4.99       5.99
2    Tuesday    Espresso          30   4.99       3.99
3    Tuesday       Latte          20   4.99       5.99
4  Wednesday    Espresso          35   4.99       3.99

In [64]:
coffee_new.head()

         Day Coffee Type  Units Sold  new_price
0     Monday    Espresso          25       3.99
1     Monday       Latte          15       5.99
2    Tuesday    Espresso          30       3.99
3    Tuesday       Latte          20       5.99
4  Wednesday    Espresso          35       3.99

## Adding / Removing columns

In [65]:
cfy = coffee.copy()

In [66]:
cfy

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       3.99
1      Monday       Latte          15   4.99       5.99
2     Tuesday    Espresso          30   4.99       3.99
3     Tuesday       Latte          20   4.99       5.99
4   Wednesday    Espresso          35   4.99       3.99
5   Wednesday       Latte          25   4.99       5.99
6    Thursday    Espresso          40   4.99       3.99
7    Thursday       Latte          30   4.99       5.99
8      Friday    Espresso          45   4.99       3.99
9      Friday       Latte          35   4.99       5.99
10   Saturday    Espresso          45   4.99       3.99
11   Saturday       Latte          35   4.99       5.99
12     Sunday    Espresso          45   4.99       3.99
13     Sunday       Latte          35   4.99       5.99

In [67]:
cfy["tax_rate"] = 0.10
cfy

          Day Coffee Type  Units Sold  price  new_price  tax_rate
0      Monday    Espresso          25   4.99       3.99       0.1
1      Monday       Latte          15   4.99       5.99       0.1
2     Tuesday    Espresso          30   4.99       3.99       0.1
3     Tuesday       Latte          20   4.99       5.99       0.1
4   Wednesday    Espresso          35   4.99       3.99       0.1
5   Wednesday       Latte          25   4.99       5.99       0.1
6    Thursday    Espresso          40   4.99       3.99       0.1
7    Thursday       Latte          30   4.99       5.99       0.1
8      Friday    Espresso          45   4.99       3.99       0.1
9      Friday       Latte          35   4.99       5.99       0.1
10   Saturday    Espresso          45   4.99       3.99       0.1
11   Saturday       Latte          35   4.99       5.99       0.1
12     Sunday    Espresso          45   4.99       3.99       0.1
13     Sunday       Latte          35   4.99       5.99       0.1

In [68]:
cfy["total_revenue"] = cfy["Units Sold"] * cfy["new_price"]
cfy

,Day,Coffee Type,Units Sold,price,new_price,tax_rate,total_revenue
0,Monday,Espresso,25,4.99,3.99,0.1,99.75
1,Monday,Latte,15,4.99,5.99,0.1,89.85
2,Tuesday,Espresso,30,4.99,3.99,0.1,119.70
3,Tuesday,Latte,20,4.99,5.99,0.1,119.80
4,Wednesday,Espresso,35,4.99,3.99,0.1,139.65
5,Wednesday,Latte,25,4.99,5.99,0.1,149.75
6,Thursday,Espresso,40,4.99,3.99,0.1,159.60
7,Thursday,Latte,30,4.99,5.99,0.1,179.70
8,Friday,Espresso,45,4.99,3.99,0.1,179.55
9,Friday,Latte,35,4.99,5.99,0.1,209.65
10,Saturday,Espresso,45,4.99,3.99,0.1,179.55
11,Saturday,Latte,35,4.99,5.99,0.1,209.65
12,Sunday,Espresso,45,4.99,3.99,0.1,179.55
13,Sunday,Latte,35,4.99,5.99,0.1,209.65

In [15]:
cfy.info()

<class 'pandas.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day            14 non-null     str
 1   Coffee Type    14 non-null     str
 2   Units Sold     14 non-null     int64
 3   price          14 non-null     float64
 4   new_price      14 non-null     float64
 5   tax_rate       14 non-null     float64
 6   total_revenue  14 non-null     float64
dtypes: float64(4), int64(1), str(2)
memory usage: 1.1 KB

In [18]:
cfy.to_csv(
    r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\dataset\updatecoffee_dataset.csv",
    index=False
)