# Merging & Concatenating Data

In [38]:
import pandas as pd

In [39]:
order = pd.read_csv(r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\dataset\orders.csv")

In [40]:
product = pd.read_csv(r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\dataset\products.csv")

In [41]:
order

   order_id customer_id product_id  order_date  quantity  unit_price
0       101        C001      P1001  2026-01-01         2       15000
1       102        C002      P1002  2026-01-02         1       45000
2       103        C003      P1003  2026-01-02         3        2000
3       104        C001      P1002  2026-01-03         1       45000
4       105        C004      P1004  2026-01-04         2        1200
5       106        C002      P1003  2026-01-05         5        2000
6       107        C005      P1005  2026-01-06         1       70000
7       108        C006      P1006  2026-01-07         4         800

In [42]:
product

  product_id product_name     category     brand
0      P1001       Laptop  Electronics        HP
1      P1002   Smartphone  Electronics   Samsung
2      P1003   Headphones  Accessories      Boat
3      P1004     Keyboard  Accessories  Logitech
4      P1005    Gaming PC  Electronics      Asus
5      P1006        Mouse  Accessories        HP
6      P1007       Tablet  Electronics     Apple

 ## import both order and product dataset

In [43]:
merged_df = pd.merge(order, product, on="product_id", how="inner")

In [44]:
merged_df.head()

,order_id,customer_id,product_id,order_date,quantity,unit_price,product_name,category,brand
0,101,C001,P1001,2026-01-01,2,15000,Laptop,Electronics,HP
1,102,C002,P1002,2026-01-02,1,45000,Smartphone,Electronics,Samsung
2,103,C003,P1003,2026-01-02,3,2000,Headphones,Accessories,Boat
3,104,C001,P1002,2026-01-03,1,45000,Smartphone,Electronics,Samsung
4,105,C004,P1004,2026-01-04,2,1200,Keyboard,Accessories,Logitech

In [45]:
merged_df.shape

(8, 9)

In [46]:
merged_df["total_value"] = merged_df["quantity"] * merged_df["unit_price"]

In [47]:
merged_df

,order_id,customer_id,product_id,order_date,quantity,unit_price,product_name,category,brand,total_value
0,101,C001,P1001,2026-01-01,2,15000,Laptop,Electronics,HP,30000
1,102,C002,P1002,2026-01-02,1,45000,Smartphone,Electronics,Samsung,45000
2,103,C003,P1003,2026-01-02,3,2000,Headphones,Accessories,Boat,6000
3,104,C001,P1002,2026-01-03,1,45000,Smartphone,Electronics,Samsung,45000
4,105,C004,P1004,2026-01-04,2,1200,Keyboard,Accessories,Logitech,2400
5,106,C002,P1003,2026-01-05,5,2000,Headphones,Accessories,Boat,10000
6,107,C005,P1005,2026-01-06,1,70000,Gaming PC,Electronics,Asus,70000
7,108,C006,P1006,2026-01-07,4,800,Mouse,Accessories,HP,3200

In [48]:
merged_df.groupby("category")["total_value"].sum()

category
Accessories     21600
Electronics    190000
Name: total_value, dtype: int64

In [49]:
merged_df.groupby("brand")["total_value"].sum()

brand
Asus        70000
Boat        16000
HP          33200
Logitech     2400
Samsung     90000
Name: total_value, dtype: int64

In [50]:
pd.merge(order, product, on="product_id", how="left")

,order_id,customer_id,product_id,order_date,quantity,unit_price,product_name,category,brand
0,101,C001,P1001,2026-01-01,2,15000,Laptop,Electronics,HP
1,102,C002,P1002,2026-01-02,1,45000,Smartphone,Electronics,Samsung
2,103,C003,P1003,2026-01-02,3,2000,Headphones,Accessories,Boat
3,104,C001,P1002,2026-01-03,1,45000,Smartphone,Electronics,Samsung
4,105,C004,P1004,2026-01-04,2,1200,Keyboard,Accessories,Logitech
5,106,C002,P1003,2026-01-05,5,2000,Headphones,Accessories,Boat
6,107,C005,P1005,2026-01-06,1,70000,Gaming PC,Electronics,Asus
7,108,C006,P1006,2026-01-07,4,800,Mouse,Accessories,HP

In [51]:
pd.merge(order, product, on="product_id", how="outer")
# outer join

,order_id,customer_id,product_id,order_date,quantity,unit_price,product_name,category,brand
0,101.0,C001,P1001,2026-01-01,2.0,15000.0,Laptop,Electronics,HP
1,102.0,C002,P1002,2026-01-02,1.0,45000.0,Smartphone,Electronics,Samsung
2,104.0,C001,P1002,2026-01-03,1.0,45000.0,Smartphone,Electronics,Samsung
3,103.0,C003,P1003,2026-01-02,3.0,2000.0,Headphones,Accessories,Boat
4,106.0,C002,P1003,2026-01-05,5.0,2000.0,Headphones,Accessories,Boat
5,105.0,C004,P1004,2026-01-04,2.0,1200.0,Keyboard,Accessories,Logitech
6,107.0,C005,P1005,2026-01-06,1.0,70000.0,Gaming PC,Electronics,Asus
7,108.0,C006,P1006,2026-01-07,4.0,800.0,Mouse,Accessories,HP
8,NaN,NaN,P1007,NaN,NaN,NaN,Tablet,Electronics,Apple