# Merging & Concatenating Data

In [14]:
import pandas as pd

In [15]:
order = pd.read_csv(r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\dataset\orders.csv")

In [16]:
product = pd.read_csv(r"D:\AI ML ENGINEERING JOURNY\02_Python_Foundations\04_Pandas\dataset\products.csv")

In [17]:
order

   order_id customer_id product_id  order_date  quantity  unit_price
0       101        C001      P1001  2026-01-01         2       15000
1       102        C002      P1002  2026-01-02         1       45000
2       103        C003      P1003  2026-01-02         3        2000
3       104        C001      P1002  2026-01-03         1       45000
4       105        C004      P1004  2026-01-04         2        1200
5       106        C002      P1003  2026-01-05         5        2000
6       107        C005      P1005  2026-01-06         1       70000
7       108        C006      P1006  2026-01-07         4         800

In [18]:
product

  product_id product_name     category     brand
0      P1001       Laptop  Electronics        HP
1      P1002   Smartphone  Electronics   Samsung
2      P1003   Headphones  Accessories      Boat
3      P1004     Keyboard  Accessories  Logitech
4      P1005    Gaming PC  Electronics      Asus
5      P1006        Mouse  Accessories        HP
6      P1007       Tablet  Electronics     Apple

 ## import both order and product dataset