In [44]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=["A", "B", "C"], index=["X", "Y", "Z"])

###  df is represent the data frame .

In [45]:
df.head()

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [46]:
df.index.tolist()

['X', 'Y', 'Z']

In [47]:
df.info()

<class 'pandas.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [48]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [49]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [50]:
df["A"].nunique()

3

In [51]:
df.shape

(3, 3)

In [52]:
df.index.tolist()

['X', 'Y', 'Z']

In [53]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [54]:
=

SyntaxError: invalid syntax (1763773627.py, line 1)

In [ ]:
df.loc["X"]  # row X
df.iloc[0]  # first row
df["B"]  # column B
df[["A", "C"]]  # multiple columns

In [ ]:
df[df["A"] > 2]  # rows where A > 2

In [ ]:
df.groupby("A").sum()

In [55]:
df.isnull()
df.fillna(0)

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9