In [27]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=["A", "B", "C"], index=["X", "Y", "Z"])

###  df is represent the data frame .

In [29]:
df.head()

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [30]:
df.index.tolist()

['X', 'Y', 'Z']