In [67]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=["A", "B", "C"], index=["X", "Y", "Z"])

###  df is represent the data frame .

In [68]:
df.head()

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [69]:
df.index.tolist()

['X', 'Y', 'Z']

In [70]:
df.info()

<class 'pandas.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [71]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [72]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [73]:
df["A"].nunique()

3

In [74]:
df.shape

(3, 3)

In [75]:
df.index.tolist()

['X', 'Y', 'Z']

In [76]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [77]:
=

SyntaxError: invalid syntax (1763773627.py, line 1)

In [ ]:
df.loc["X"]  # row X
df.iloc[0]  # first row
df["B"]  # column B
df[["A", "C"]]  # multiple columns

In [ ]:
df[df["A"] > 2]  # rows where A > 2

In [ ]:
df.groupby("A").sum()

In [ ]:
df.isnull()
df.fillna(0)

In [78]:
df["A"].apply(lambda x: x ** 2)

X     1
Y    16
Z    49
Name: A, dtype: int64

In [3]:
-
import pandas as pd

data = {
    "Name": ["Partha", "Pritam", "Argha"],
    "age": [21, 15, 16],
    "Marks": [90, 99, 80]
}
df = pd.DataFrame(data)
print(df)

print("----For Access Columns----")
df["Name"]
df[["Name", "Marks"]]

     Name  age  Marks
0  Partha   21     90
1  Pritam   15     99
2   Argha   16     80
----For Access Columns----

     Name  Marks
0  Partha     90
1  Pritam     99
2   Argha     80